
@media screen and (min-width: 991px) {
    body{
        width: 100%;
        margin:0px;
        
    }
    .navbar{
        display:none
    }
    .headerordi{
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header{
        width: 100%;
        height: 155px;
        font-size: 25px;
        display: flex;
        align-items: center;
    } 
    .titre{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
       
    }
    .titre a{
        text-decoration: none;
        color:black
    }
    
    .ban{
        Width:100%;
        Height:490px;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        color:white;
        background: no-repeat center/ 100% url("img/imgban.png");
        
    }
    .ban p{
        padding-top: 26px;
    }
    .ban h1{
        font-size: 60px;
        text-align: center;
    }
    
    #pizza h1{
        font-size:80px;
        text-align: center;
        
    }  
    #pizza h2{
        font-size:60px;
        text-align: center;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color:rgb(250,74,12,1);
    
    }
    #pizza p{
        font-size:30px;
        font-weight: bold;
        font-family:montserrat;
    }
    .cadre{
        border:2px solid rgb(250,74,12,1);
        width: 29%;
        height: 400px;
        margin-top:22px
    }   
        
    .prixbutton{
        display:flex;
        justify-content: space-between;
    }
    .imgtete{
        width: 100%;
        height: 200px;
        padding-top: 10px;

    }
    hr{
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left:20%;
        margin-right:20%
    }
    .pb{
        width: 100%;
        height: 350px;
        padding-left:25px;
        display:flex;
        justify-content:center;
        flex-direction: column;
        font-size: 25px;
    }
    .pb h1{
        font-size:45px;
        font-weight: bold;
        
    }
    .bonneapp{
        Width:100%;
        Height:490px;
        background-image:url("img/imgbonneapp.png");
        font-size:40px;
        font-weight: bold;
        color:white;
        display:flex;
        justify-content:center;
    }
    .bonneapp p{
        display: flex;
        align-items: center;
    }
    footer{
        width: 100%;
        height: 155px;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    #contact{
        display: flex;
        justify-content: space-around;
        width: 24%;
        
    }
    
    #pizza input {
        Width: 150px;
        Height: 80px;
        border-radius: 30px;
        background-color: rgb(250,74,12,1);
        color: white;
        font-size: 35px;
    }  
    .psuivante{
        padding-top: 40px;
        padding-left: 70px;

    }
    .psuivante input{
        Width: 120px;
        Height: 40px;
        border-radius: 30px;
        background-color: rgb(9, 9, 12);
        color: white;
        font-size: 15px;

    }
 
}
    
    

  

