@media screen and (min-width: 991px) {
    body{
        width: 100%;
        margin:0px;
        
    }
    .navbar{
        display:none
    }
    .headerordi{
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header{
        width: 100%;
        height: 155px;
        font-size: 25px;
        display: flex;
        align-items: center;
    } 
    .titre{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
       
    }
    .titre a{
        text-decoration: none;
        color:black
    }
    
    .ban{
        Width:100%;
        Height:490px;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        color:white;
        background: no-repeat center/ 100% url("../img/imgban.png");
        
    }
    .ban p{
        padding-top: 26px;
    }
    .ban h1{
        font-size: 60px;
        text-align: center;
    }
    .complet{
        padding-left: 35px;
    }
    .blockcontact{
        display: flex;
        justify-content: space-around;
    }
    .block1 , .block2{
        width: 45%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .blockcontact {
        font-size:20px

    }
    .blockcontact input{
        width: 100%;
        height: 40px;
    }
    
    .style{
        Width: 150px;
        Height: 40px;
        background: #FA4A0C;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
        border-radius: 4px;
        font-size: 20px;
        color: white;
    }
    .upload{
        padding-top: 70px;
        padding-left: 34px
    }
    
    .boutton{
        display:flex;
        flex-direction: row;
    }
    .boutton p{
        padding-left: 20px;
    }
    .upload p{
        font-size:16px
    }
    .captcha{
        padding-top: 10px;
    }
    .message{
        display:flex;
        flex-direction: column;
       
    }
    select{
        Width:90%;
        Height:60px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .message input{
        Width:90%;
        Height:255px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
    }
   
    .message label{
        font-size:20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 22px;
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .carte{
        background:no-repeat center/ 100% url("../img/map.png");
        width: 90%;
        height: 500px;
        margin-top: 20px;
       
    }
   
    .envoi{
        padding-top: 20px;
        padding-left: 21px;
    }
    footer{
        width: 80%;
        height: 155px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    footer input{
        Width:177px;
        Height:68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px;
        background: #FA4A0C;
        border-radius: 30px;
        font-size:24px;
        color:white;
       

    }
}